@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.headerBox {
    background-color: var(--voilet);
}
.gridContainer {
    height: 44px;
}
.contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1F1F1;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.headerIcon {
    margin-right: 10px;
    vertical-align: middle;
    font-size: 16px !important;
}
.links{
    font-family: Josefin Sans,Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #F1F1F1;
}